body {
  font-family: "poppins", sans-serif;
}
h1 {
  font-size: 40px;
}

.color-span {
  color: #654ea3;
}

.flexibale-container {
  display: flex;
  padding: 5rem;
  height: fit-content;
}

.half-width {
  width: 50%;
  padding-left: 3rem;
  height: auto;
}

.border {
  border-left: 0.5rem solid slateblue;
  box-shadow: 5px 10px 8px 10px #888888;
}
.half-width img {
  width: 100%;
}

.half-width a {
  text-decoration: none;

  background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8);
  padding: 10px 40px;
  color: aliceblue;
  border-radius: 2rem;
}

.dream-big {
  padding: 5rem;
  background: white;
}

.dream-big .half-width img {
  margin-top: 4rem;
}

.experiance-area h1 {
  color: #4e54c8;
  text-align: center;
}
